<div class="card" style="width: 18rem;">
	<!-- Pour l'instant image de test à changer !-->
  <img src="https://images.pexels.com/photos/346768/pexels-photo-346768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= trip.title %></h5>
    <p class="card-text"><%= trip.description %></p>
    <% link_to 'Voir le voyage', "#", class: "card-link" %>
  </div>
</div>