<!-- Titre de la page -->
<h1>Voyages populaires</h1>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>

<!-- Appel de la partial pour afficher les cartes de voyages -->
<%= render @trips %>

<!-- Ici il faudra ajouter les avis des voyageurs sur leurs voyages avec un caroussel-->
<!-- <h3>Avis sur vos voyages</h3> -->

<!-- Bouton Planifier son voyage link_to trips#new -->
