<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
	<div class="container">
	<br>
		<h1>Bienvenue <%= @user.email %> sur le site BonVoyage !</h1>
		<br>		
		<p>Tu es maintenant inscrit sur le site <a href="https://bon-voyage-app.herokuapp.com/">bon-voyage-app.herokuapp.com</a>. L'adresse mail renseignée pour ton compte utilisateur est : <%= @user.email %>.</p>

		<p>Pour accéder à ton espace utilisateur, connecte-toi sur l'URL : <a href="https://bon-voyage-app.herokuapp.com/users/signin">bon-voyage-app.herokuapp.com/users/signin</a>.</p>

		<br>
		<p> À très vite sur  <a href="https://bon-voyage-app.herokuapp.com/">bon-voyage-app.herokuapp.com</a> !</p>

		<em>La Team de BonVoyage vous remercie.</em>

	</div>
</body>

</html>