<div class="jumbotron jumbotron-fluid banner mt-5">
  <div class="container content-header text-center">
  </div>
</div>

<div class="container text-center">
  <%= link_to 'Planifier mon Voyage', new_trip_path, class: "btn btn-primary text-white mb-5" %>
  <hr>
</div>