<div class="my-5 text-center" >
    <h3>Comment ça marche ?</h3>
    <p>Planifiez votre voyage, jour par jour, en rassemblant vos recherches d'informations <br>
    ou inspirez-vous des autres voyageurs !</p>
</div>

<div class="jumbotron jumbotron-fluid banner mt-5">
  <div class="container content-header text-center">
  </div>
</div>

<div class="container text-center">
  <%= link_to 'Planifier mon Voyage', new_trip_path, class: "btn btn-primary text-white mb-5" %>
  <hr>
</div>