<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div class="breadcrumb">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-2 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Suivez-nous sur les réseaux sociaux !</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Github -->
          <a class="fb-ic">
            <a href="https://github.com/AtheDev"><i class="fab fa-github white-text mr-4"></i>
          </a>
          <!-- Github -->
          <a class="tw-ic">
            <a href="https://github.com/EmilieDufau"><i class="fab fa-github white-text mr-4"></i>
          </a>
          <!-- Github -->
          <a class="gplus-ic">
            <a href="https://github.com/sofiachakir"><i class="fab fa-github white-text mr-4"></i>
          </a>
          <!--Github -->
          <a class="li-ic">
            <a href="https://www.github.com/evafriana"><i class="fab fa-github white-text mr-4"></i>
          </a>
          <!--Github-->
          <a class="ins-ic">
            <a href="https://github.com/delmasdev"><i class="fab fa-github white-text"></i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row d-flex justify-content-between mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col mb-4 px-5">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Bon Voyage</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

        <p>Planifier votre voyage en toute simplicité et trouver des idées d'inspiration à travers d'autres Globe-trotters. #Athénais #Jérémy #Sofia #Eva #Emilie.</p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-4 px-5">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-envelope mr-3"></i> bonvoyage.infos@gmail.com</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
    <a class="dark-grey-text" href="https://bon-voyage-app.herokuapp.com/"> BonVoyage.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
