<div class="jumbotron jumbotron-fluid big-jumbo d-flex align-items-center">
	<div class="container-fluid content-header">
		<h2 class="display-4  header-title">Préparez-vous à un bon voyage !</h2>
		<p class="lead">Votre nouvel outil de planification de voyages vous accompagne sur la route.</p>
		<div class="header-btn">
			<%= link_to 'Planifier mon Voyage', new_trip_path, class: "btn btn-primary btn-lg" %>
			<a class="btn btn-outline-danger btn-lg" href="#trip-pop" role="button">Voyages populaires</a>
		</div>
	</div>
</div>
