<img src="https://res.cloudinary.com/die4stsje/image/upload/v1591910557/miniheader2_xt56hw.png" alt="header bon voyage" width="100%" class="minihead" />
<div class="mini">
  <%= yield :minihead %>
</div>
