<div class="jumbotron-fluid">
<img src="https://res.cloudinary.com/die4stsje/image/upload/v1591946659/miniheader3_cia1qu.png" alt="header bon voyage" width="100%" class="minihead" />

<%= yield :minihead %>

</div>
