<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">BonVoyage</a>
    <div class="nav navbar-nav navbar-right">
      <a class="btn btn-primary mr-5 text-white">Planifier mon Voyage</a>
      <a class="nav-link pr-3" href="">Login</a>
      <a class="nav-link" href="">Sign up</a>
    </div>
  </div>
</nav>