<%#= form_tag trip_event_path(@trip.id, event), method: "patch" do %>
<%#= form_tag trip_event_path(@trip.id, event), method: "patch" do %>
<%= form_tag trip_event_path(@trip.id, @event), method: "patch" do %>
  <div class="form-group mb-2">
    <p>Ajouter</p>
    <%#= text_area_tag :comment, nil, class: 'form-control' %>
  </div>

  <%#= submit_tag 'Enregistrer', class: 'btn btn-primary btn-sm' %>

<% end %>
