.form-control::-webkit-input-placeholder {
  color: #777;
  opacity: 0.5;
}

.form-control::-ms-input-placeholder {
  color: #777;
  opacity: 0.5;
}

.form-control::placeholder {
  color: #777;
  opacity: 0.3;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
