.profil {
  background: url("https://res.cloudinary.com/die4stsje/image/upload/v1591946716/slice2_ccstuy.png")no-repeat center center;
}

.formhead {
  background: url("https://res.cloudinary.com/die4stsje/image/upload/v1591946793/slice3_gaezoe.png")no-repeat center center;
}

.formtitle {
  text-align: center;
  color: white;
  padding: 1rem 0rem;
}

.textname {
  color: white;
  text-transform: uppercase;
}