.card {
padding: 20px 20px 20px;
border: 1px solid #bbb;
}

.card:hover {
border: 1px solid #bbb;
box-shadow: none;
}

.card-note {
  padding: 0.5rem!important;
  margin-bottom: 0rem!important;
}

.justify-self-end {
  position: absolute;
  top: 0;
  right: 0;
}

.grab:hover {
  cursor: grabbing;
}

.grab:hover i {
  display: block !important;
}


#buttons {
    width:262px;
    top:50px;
    left:-266px;
    height: 50px;
    background-color:red;
    display: inline-block;
    position:relative;
}

.grab {
border: none !important;
background-color: #FCFCFC;
}

.grab i {
  display: none;
  color: #EF1852;
  font-size: 0.8rem;
  opacity: 0.5;
}

.grab i:hover {
  opacity: 0.9;
}


.card:hover img {
  transform: none;
}

.notetitle {
padding: 20px 20px 20px;
border: 1px solid #000;
text-align: center;
margin: 0;
font-size: 20px;
font-weight: bold;
}

.noteimage {
width: inherit;
}

.notetext {
padding: 20px 20px 20px;
border: 1px solid #000;
}

.fa-pen {
  font-size: 0.75rem;
  color: grey;
  display: block;
  position: absolute;
  left: 22px;
}

.fa-trash {
  font-size: 0.75rem;
  color: grey;
  display: block;
  position: absolute;
  left: 40px;
}