.card {
padding: 20px 20px 20px;
border: 1px solid #bbb;
}

.card:hover {
border: 1px solid #bbb;
box-shadow: none;
}

.card-note {
  padding: 0.5rem!important;
  margin-bottom: 0rem!important;
}

.justify-self-end {
  position: relative;
  float: right;
}

.grab:hover {
  cursor: grabbing;
}

.grab {
border: none !important;
background-color: #F0F0F0;
}

.card:hover img {
  transform: none;
}

.notetitle {
padding: 20px 20px 20px;
border: 1px solid #000;
text-align: center;
margin: 0;
font-size: 20px;
font-weight: bold;
}

.noteimage {
width: inherit;
}

.notetext {
padding: 20px 20px 20px;
border: 1px solid #000;
}

.fa-pen {
  font-size: 0.75rem;
  color: grey;
  display: block;
  position: absolute;
  left: 22px;
}

.fa-trash {
  font-size: 0.75rem;
  color: grey;
  display: block;
  position: absolute;
  left: 40px;
}