
/* Aspect des 'Cards' des Voyages */

.card-trip {
  position: relative;
  padding: 5px;
  transition: all .3s ease 0s;
  width: 18rem;
  height: 32rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 75px -55px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 75px -55px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 75px -55px rgba(0,0,0,0.7);
}

.cards-trip {
  display: grid;
  grid-gap: 16px;
}

.card-trip:hover {
  -webkit-box-shadow: 0px 0px 75px -55px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 75px -55px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 85px -45px rgba(0,0,0,0.7);
}

.card-trip:hover img {
  transform: scale(1.1);
}

.card-trip .thumb {
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
  margin-bottom: 30px;
}

.thumb .img-fluid {
  height: 13rem;
  width: max-content;
  object-fit: cover;
}

.fa {
  margin-top: 2px;
  margin-right: 5px;
}

.event-icons i {
  opacity: 0.5;
}

.event-icons:hover i {
  opacity: 1;
}

.card-trip-title {
	color: #666 !important;
  min-height: 3.3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card-trip-text {
  color: #666 !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card-trip-meta {
  margin-bottom: 10px;
}

.card-trip-link {
  margin-top: 20px;
}

/* Card responsive */

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards-trip {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards-trip {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards-trip {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards-trip {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards-trip {
    grid-template-columns: 1fr 1fr 1fr;
  }
}