<div class="container py-3 mx-auto col-7 my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">

      <p>Bonjour <%= @email %>!</p>

      <% if @resource.try(:unconfirmed_email?) %>
        <p>Nous vous contactons pour vous informer que votre adresse e-mail est en cours de modification <%= @resource.unconfirmed_email %>.</p>
      <% else %>
        <p>Nous vous contactons pour vous informer que votre adresse e-mail a été remplacée par <%= @resource.email %>.</p>
      <% end %>

     </div>
  </div>
</div>