<div class="container py-3 mx-auto col-7 my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">

      <p>Bonjour <%= @resource.email %>!</p>

      <p>Votre compte a été verrouillé en raison d'un nombre excessif de tentatives de connexions infructueuses.</p>

      <p>Cliquez sur le lien ci-dessous pour déverrouiller votre compte:</p>

      <p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>

     </div>
  </div>
</div>