<div class="jumbotron jumbotron-fluid">
	<div class="container content-header">
		<h1 class="display-4  header-title">Préparez-vous à un bon voyage !</h1>
		<p class="lead">Bon voyage : votre nouveau compagnon de route</p>
		<div class="header-btn">
			<a class="btn btn-primary btn-lg" href="#voyages-pop" role="button">Planifier le voyage</a>
			<a class="btn btn-secondary btn-lg" href="#" role="button">Voyages populaires</a>
		</div>
	</div>
  
</div>
